/*==========================GENERAL===============================*/
*
{
    padding: 0;
    margin: 0; 
}

li{
    list-style: none;
}


/*============================BODY==============================*/




/*============================HERDER============================*/

header
{
    background: url('Images/banner4.jpg') no-repeat;
    background-size: 100% 350px;
    border-bottom: 7px solid black; 
    height: 300px;
}

header h1
{
    padding-top:  7rem;
    text-shadow: 1px 1px black;
}

header nav
{
    float: right;
    margin-top: 1rem; 
    text-align: center; 
    background-color: black;
    border: 4px outset silver;
    width: 100%;
}

header nav ul li
{
    background-color: black;
    font-weight: bold;
    padding: 0 5rem 0 5rem;
    display: inline-block;    
}

header a
{
    color: white;
    font-size: 20px;
}
/*==============================MAIN==============================*/

main
{
    background: url('Images/fond.jpg') no-repeat;
    background-size: 100% auto; 
}

/*=============================FOOTER============================*/

footer
{
    height: 230px;
    background-color: rgb(15, 15, 15);
    border-top: 5px solid silver;
}

footer h2
{
    text-align: center;
    margin: 1.3em 0 0 0;
    text-shadow: 2px 2px black;
    font-size: 2rem;
}

footer nav
{
    float: right;
    text-align: center;
    margin-top: 1.3rem;
    background-color: black;
    border: 4px inset silver;
    width: 100%;
}

footer nav ul li
{
    background-color: black;
    font-weight: bold;
    padding: 0 4rem 0 4rem;
    display: inline-block;
}

footer a
{
    color: white; 
    font-size: 20px;
}

/*===========================CLASS==============================*/

.logo
{
    float: left;
    padding: 3rem 0 0 4rem;
}

.rouge
{
   color: #E74C3C;
}

.bleu
{
    color: rgb(0, 39, 211);
}

.image-footer
{
    border: 3px inset silver;
    float: left;
    margin: 1.2rem 0 0 2rem;
}

.contact
{
    text-align: center;
    margin-top: 1.1rem;
}

/*============================PAGE-HORAIRES======================*/

