/*==========================GENERAL===============================*/
*
{
    padding: 0;
    margin: 0;  
}

li{
    list-style: none;
}

/*============================HERDER============================*/

header
{
    background: url('Images/banner1.jpg') no-repeat;background-size: 100% 350px;border-bottom: 5px solid black; height: 300px;
}

header h1
{
    text-align: center;padding-top: 150px; text-shadow: 2px 2px black;
}

header nav
{
    float: right; margin-top: 85px; text-align: center; background-color: black; border: 2px solid white;
}

header nav ul li
{
        border: solid 1px  whit; background-color: black;
        font-weight: bold;
        padding: 0 5rem 0 5rem;
        display: inline-block;
            
}

header a
{
    color: white; font-size: 20px;
}
/*==============================MAIN==============================*/

main
{
    background: url('Images/4DC472B08.jpg') no-repeat;background-size: 100% auto; height: 700px;
}

/*=============================FOOTER============================*/

footer
{
    height: 220px; background-color: rgb(49, 49, 49);border-top: 5px solid black;
}

footer h1
{
    text-align: center;margin: 30px 100px 0 0; text-shadow: 2px 2px black;
}

footer nav
{
    float: right; text-align: center; margin-top: 115px;background-color: black; border: 2px solid white;
}

footer nav ul li
{
        border: solid 1px  whit; background-color: black;
        font-weight: bold;
        padding: 0 4rem 0 4rem;
        display: inline-block;
}

footer a
{
    color: white; font-size: 20px;
}

/*===========================CLASS==============================*/

.logo
{
    float: left; padding: 3rem 0 0 4rem;
}

.rouge
{
   color: #E74C3C;
}

.blanc
{
    color: #ECF0F1;
}

.bleu
{
    color: rgb(0, 39, 211);
}

.image-footer
{
    border: 2px solid black; float: left; margin: 10px 0 0 20px;
}

/*============================PAGE-MEDECIN======================*/

